body {
  font-family: sans-serif;
}
.weather-container {
  margin: auto;
  display: flex;
  justify-content: center;
}

h1,
h2 {
  text-align: center;
}

.order-container {
  border: 1px solid rgb(126, 6, 6);
  display: flex;
  margin: 1em 3.8em;
  padding: 1em 2em;
  justify-content: start;
}

#Monday,
#Tuesday,
#Wednesday,
#Thursday,
#Friday {
  width: 18%;
  height: 200px;
  float: left;
  border: 1px solid black;
  padding: 2px;
  font-size: 12px;
}

.Sunny {
  background-color: skyblue;
}

.Raining {
  background-color: lightgrey;
}

.Cloudy {
  background-color: #eee;
}

.Thunderstorm {
  background-color: #333;
  color: #fff;
}

.emoji {
  width: 100%;
  font-size: 3em;
  text-align: center;
  padding-top: 0.5em;
}
#orderForm {
  border: 1px solid #21201d;
  padding: 1em 2em;
}

#receipt {
  background-color: #996600;
  color: yellow;
  padding: 6px;
}

#result {
  background-color: #f9eac8;
  padding: 0 2em;
  border: 1px solid #21201d;
}

.hide {
  display: none;
}

.bottom-line {
  font-weight: 500;
  color: #fff;
  background-color: #333;
  padding: 0.5em;
}
